.sidebar {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 150px;
    &__tablink {
        background-color: var(--azul);
        border: none;
        color: var(--negro);
        cursor: pointer;
        float: left;
        font-size: 17px;
        outline: none;
        padding: 16px 16px;
        display: block;
    }

    &__tablink:hover {
        background-color: var(--rojo);
        color: var(--blanco);
    }
}

.icon {
    display: none;
}

.content {
    margin-left: 150px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        flex-direction: row;
        height: auto;
        position: relative;
        width: 100%;

        button {
            float: left;
        }
    }
    .content {
        margin-left: 0;
    }
}

// TODO: PONER ACORDEON
@media screen and (max-width: 400px) {
    .sidebar {
        flex-direction: column;

        button {
            float: none;
            text-align: center;
        }
    }
    .icon {
        display: block;
    }
}
