:root {
    --rojo: #a14744;
    --naranja: #e68d41;
    --amarillo: #d6cf9f;
    --verde: #c4e68a;
    --azul: #83a6ae;
    --gris-azulado: #afbbc3;
    --blanco: #d4d4d4;
    --gris: #847d72;
    --negro: #0c0503;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
