@use "./variables";
@use "./sidebar";
@use "./lightroom";

body {
    background-color: var(--gris-azulado);
}
video {
    max-width: 60%;
    height: 100%;
}
img {
    max-width: 100%;
}

audio {
    width: 100%;
    &::-webkit-media-controls-panel {
        background-color: var(--amarillo);
    }
    &::-webkit-media-controls-play-button {
        background-color: var(--naranja);
        border-radius: 50%;
    }
    &::-webkit-media-controls-play-button:hover {
        background-color: var(--rojo);
    }
}
.inicio__imagen {
    width: 60%;
    padding: 0 20% 0 20%;
}

.tabcontent {
    background-color: var(--blanco);
    background-position: 0 0, 12px 12px;
    background-size: 24px 24px;
    color: var(--negro);
    display: none;
    margin: 1em;
    padding: 50px 20px;
    background-image: radial-gradient(#9d9d9d 0.6000000000000001px, transparent 0.6000000000000001px),
        radial-gradient(#9d9d9d 0.6000000000000001px, #ebebeb 0.6000000000000001px);
}
